.albums-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: var(--black-main);
    color: white;
    
    .favourite-music-text{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        text-align: center;

        h2{
            padding-top: 5vmin;
        }

        p{
            padding-top: .5em;
            width: 30vmax;
            opacity: .6;
            width: 60%;
        }
    }

    .albums-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4vmin;
        width: 100vw;
        padding: 0 2em;

        li{
            display: flex;
            flex-direction: column;
            align-items: center;

            img{
                width: 25vmin;
                min-width: 110px;
            }
            p{
                margin-top: .3em;
                text-align: center;
            }
            
        }
    }
    .albums-container>*{
        flex: 1 0 25%;
    }

    .biggerCover{
        position: absolute;
        width: 0.000001vmin;

        opacity: 0;
    }
    .coverActive{
        opacity: 1;
        width: 45vw;
        border: 1px solid white;
        transition: all 1s;
    }
    @media (max-width: 720px){
        .coverActive{
            width: 76vw;
        }
    }
}

@media (max-width: 500px){
    .albums-container>*{
        flex: 1 0 20%;
    }
    .albums-container{
        li{
            p{
                font-size: .8em;
            }
        }
    }
    .albums-section{
        .favourite-music-text{
            h2{
                padding-top: 1em;
                font-size: 1em;
            }
            p{
                width: 90%;
                font-size: .75em;
            }
        }
    }
}






