.albums-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: var(--black-main);
    color: white;
    
    .favourite-music-text{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        text-align: center;

        h2{
            padding-top: 3vmin;
        }

        p{
            padding-top: .5em;
            width: 30vmax;
            opacity: .6;
        }
    }

   .albums-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4vmin;
        width: 100vw;
        padding: 0 2em;

        li{
            display: flex;
            flex-direction: column;
            align-items: center;

            img{
                width: 25vmin;
                min-width: 110px;
            }
            
        }
   }
   .albums-container>*{
        flex: 1 0 25%;
   }

   @media (max-width: 500px){
        .albums-container>*{
            flex: 1 0 20%;
        }
   }

}




