

.guitar-section{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    padding: 2em;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;


    background-color: var(--white-main);
    background-color: #fefeff;
}


.guitar-text{
    max-width: 21em;
    text-align: justify;
    margin-bottom: 2em;

    border-right: 2px black solid;
    //border-left: 2px black solid;
    padding: 1em;
    z-index: 1000;
    //background-color: rgba(255, 255, 255, 0.26);
    backdrop-filter: blur(3px);
}




.svg-container{
    width: 100%;
    height: 100vh;
        
    display: flex;
    align-items: center;
    justify-content: center;

}

svg{
    display: inline-block;
    position: relative;
    right: 70%;
    top: 50%;
    height: 100%;
    z-index: 80;
    transform: rotate(-10deg);
    transform: scale(2);
}


// change position of svg for different screen sizes
@media (max-width: 500px){
    .guitar-text{
        text-align: unset;
        font-size: .9em;
    }
}
@media (min-width: 970px) and (max-width: 1120px){
    svg{
        transform: translateX(50px);
        transform: scale(2);
    }
}

@media (max-width: 1050px){
    .guitar-section{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .svg-container{
        transform: scale(1.3);
        top: 20%;
        position: absolute;
    }
}
@media (max-width: 700px){
    .svg-container{
        top: -20%;
        transform: scale(1.8);
    }
}
@media (max-width: 510px){
    .svg-container{
        top: -80%;
        transform: scale(2);
    }
}
@media (max-width: 430px){
    .svg-container{
        top: -110%;
    }
}
@media (max-width: 340px){
    .svg-container{
        top: -160%;
    }
}


    