//add dark background, maybe gradient

.introduction-section{
    //background-color: var(--black-main);

    // background: rgb(2,0,36);
    // background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(62,6,23,1) 57%, rgba(30,26,29,1) 97%); 
    
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgb(2, 1, 11) 0%, rgba(62,6,23,1) 57%, rgba(30,26,29,1) 97%); 

    // background: rgb(2,0,36);
    // background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(40,6,62,1) 57%, rgba(30,26,29,1) 97%); 

    color: var(--white-main);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    align-items: center;


    h1{
        font-size: 3em;
        font-weight: 500;
    }
}

// .introduction-section::after{
//     content: '';
//     width: 1px;
//     height: 80vh;
//     left: 30px;
//     position: absolute;
//     background-color: white;
// }

