.songwriting-section{
    background-color: var(--white-main);

    .photo-from-concert{
        width: 60vmin;
        border-radius: 2px;
    }

    .songwriting-text{
        max-width: 21em;
        text-align: justify;

        border-right: 2px black solid;
        padding: 1em;
    }
}

.img-container{
    padding: 5em 3em;
    width: 100%;
    position: absolute;
    height: 100vh;
    transition: all 1s;
}

.larger-img{
    width: 100%;
    height: 82vh;
    object-fit: cover;
    transition: all 1s;
}

