@import url("https://fonts.googleapis.com/css2?family=Unbounded&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

input, textarea, button, select {
  font: inherit;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Unbounded", cursive;
  overflow-x: hidden;
}

header {
  height: 2.85em;
  width: 100vw;
  background-color: var(--white-main);
  border-bottom: var(--black-main) 2px solid;
  position: fixed;
  z-index: 5000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
header nav {
  display: flex;
  gap: 20px;
  margin-right: 27px;
}
header nav a {
  color: var(--black-main);
  font-size: 1em;
  display: block;
  position: relative;
}
header nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.16em;
  width: 100%;
  height: 0.17em;
  transform: scale(0);
  background-color: var(--third-color);
  transform-origin: center;
  transition: opacity 270ms, transform 270ms;
}
header nav a:hover::after {
  transform: scale(1);
}
header .menu-bar-icon {
  font-size: 3.5em;
  z-index: 20;
  opacity: 0;
}

.menu-bar-icon-size-smaller {
  font-size: 3em !important;
}

@media (max-width: 920px) {
  header {
    padding: 0 1.4em;
  }
  header .nav-container {
    position: fixed;
    top: 0;
    right: 0;
    transition: 0.7s ease-in-out;
  }
  header nav {
    position: fixed;
    flex-direction: column;
    height: 100vh;
    width: 60vw;
    background-color: var(--white-main);
    color: var(--black-main);
    padding: 5em 2em;
    border-left: var(--black-main) 2px solid;
  }
  header .menu-bar-icon {
    opacity: 1;
  }
}
@media (max-width: 1020px) {
  header nav {
    margin-right: 0;
  }
}
.introduction-section {
  background: rgb(2, 0, 36);
  background: radial-gradient(circle, rgb(2, 1, 11) 0%, rgb(8, 6, 62) 57%, rgb(30, 26, 29) 97%);
  color: var(--white-main);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  align-items: center;
}
.introduction-section h1 {
  font-size: 3em;
  font-weight: 500;
}

.guitar-text {
  max-width: 21em;
  text-align: justify;
  border-right: 2px black solid;
  padding: 1em;
  z-index: 1000;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.line-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  background-color: var(--white-main);
}

.svg-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  display: inline-block;
  position: relative;
  right: 70%;
  top: 50%;
  height: 100%;
  z-index: 80;
  transform: rotate(-10deg);
  transform: scale(2);
}

@media (max-width: 500px) {
  .guitar-text {
    text-align: unset;
    font-size: 0.9em;
  }
}
@media (min-width: 970px) and (max-width: 1120px) {
  svg {
    transform: translateX(50px);
    transform: scale(2);
  }
}
@media (max-width: 970px) {
  .line-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .svg-container {
    transform: scale(1.3);
    top: 20%;
    position: absolute;
  }
}
@media (max-width: 600px) {
  .svg-container {
    top: -20%;
    transform: scale(1.8);
  }
}
@media (max-width: 510px) {
  .svg-container {
    top: -80%;
    transform: scale(2);
  }
}
@media (max-width: 390px) {
  .svg-container {
    top: -110%;
  }
}
@media (max-width: 340px) {
  .svg-container {
    top: -160%;
  }
}
.albums-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: var(--black-main);
  color: white;
}
.albums-section .favourite-music-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
}
.albums-section .favourite-music-text h2 {
  padding-top: 3vmin;
}
.albums-section .favourite-music-text p {
  padding-top: 0.5em;
  width: 30vmax;
  opacity: 0.6;
  width: 60%;
}
.albums-section .albums-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4vmin;
  width: 100vw;
  padding: 0 2em;
}
.albums-section .albums-container li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.albums-section .albums-container li img {
  width: 25vmin;
  min-width: 110px;
}
.albums-section .albums-container li p {
  margin-top: 0.1em;
}
.albums-section .albums-container > * {
  flex: 1 0 25%;
}

@media (max-width: 500px) {
  .albums-container > * {
    flex: 1 0 20%;
  }
  .albums-container li p {
    font-size: 0.8em;
  }
  .albums-section .favourite-music-text h2 {
    padding-top: 1em;
    font-size: 1em;
  }
  .albums-section .favourite-music-text p {
    width: 90%;
    font-size: 0.75em;
  }
}
.songwriting-section {
  background-color: var(--white-main);
}
.songwriting-section .photo-from-concert {
  width: 60vmin;
  border-radius: 2px;
}
.songwriting-section .songwriting-text {
  max-width: 21em;
  text-align: justify;
  border-right: 2px black solid;
  padding: 1em;
}

.img-container {
  padding: 5em 3em;
  width: 100%;
  position: absolute;
  height: 100vh;
  transition: all 1s;
}

.larger-img {
  width: 100%;
  height: 82vh;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 1s;
}

.mysong-section {
  background-color: var(--third-color);
}

.section {
  min-height: 100vh;
  padding: 2em;
}

.grid-horizontal {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 1fr;
}

.grid-vertical {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 1fr;
}

.align-items-centered {
  align-items: center;
}

.justify-content-centered {
  justify-items: center;
}

@media (max-width: 920px) {
  .grid-horizontal {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }
}
:root {
  --white-main: #f7f4f4;
  --black-main: #1e1a1d;
  --third-color: rgb(99, 171, 35);
}/*# sourceMappingURL=style.css.map */