
//boilerplate code
*, *::before, *::after{
    box-sizing: border-box;
}

input, textarea, button, select{
    font: inherit;
}

h1,h2,h3,h4,h5,p{
    margin: 0;
}

a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
    //scrollbar-width:thin;
}

body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Unbounded', cursive;
    overflow-x: hidden;
    // overflow-y: hidden;

}

//////////////////////

@import "./header";
@import "./introduction";
@import "./guitar";
@import "./albums";
@import "./songwriting";
@import "./conclusion";

@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');

//reusable classes for sections
.section{
    min-height: 100vh;
    padding: 2em;

    //width: 100%;
}

.grid-horizontal{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 1fr;
}
.grid-vertical{
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 1fr;
}

.align-items-centered{
    align-items: center;
}
.justify-content-centered{
    justify-items: center;
}

@media (max-width: 920px){
    .grid-horizontal{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
    }
}
///////////////////////////////

//global variables
:root{
    //--white-main: rgb(255, 255, 255);
    //--white-main: #f0f7e1;
    --white-main: #f7f4f4;

    //--black-main: rgb(44, 43, 49);
    //--black-main: #383f51;
    --black-main: #1e1a1d;

    --third-color: rgb(99, 171, 35);
    //--third-color: rgb(127, 220, 45);
    //--third-color: rgb(213, 54, 80);

    --green-new: #4dbd53;
    --green-third: rgb(48, 146, 23);
}